
.forsideTopIndhold {
  display: flex; /* Gør sektionen til en flex-container, så teksten kan placeres med justify-content */
  flex-direction: column; /* Placerer teksten på en vertikalt linje */
  justify-content: center; /* Placerer teksten i midten vertikalt */
  height: 100vh; /* Sørger for, at sektionen fylder hele højden af viewporten */
  background-size: cover; /* Fylder baggrunden */
  background-position: center; /* Billedet får samme midterpunkt som sin container */
  text-align: center; /* Placerer teksten i midten horisontalt */
  transition: background-image 0.3s ease-in-out; /* Bruges til at animere skiftet mellem de to billeder */
  margin-bottom: 50px; /* Der skubbes til indholdet, der er under (HVEM ER SCALE?)*/
}

.forsideLogo {
  width: 340px; /* Sætter en bestemt bredde på logoet */
  height: 92px; /* Sætter en bestemt højde på logoet */
  align-self: center; /* Elementet placeres i midten af skærmen */
  margin-top: 300px; /* Logo placeres længere nede på siden */
}

.tekstUnderLogo {
  width: 386px; /* Bredden for tekst-containeren */
  align-self: center; /* Elementet placeres i midten */
  margin-top: 40px; /* Afstand mellem tekst og logo */
}

.darkModeBillede {
  background-image: url('../assets/forsideBilledeDarkMode.webp'); /* Baggrundsbilledet i toppen af forsiden i dark mode */
}

.lightModeBillede {
  background-image: url('../assets/forsideBilledeLightMode.webp'); /* Baggrundsbilledet i toppen af forsiden i light mode */
}

.skiftModeSektion {
  position: absolute; /* Placerer elementet oven på sit søskende-element (sektionen med baggrundsbilledet */
  top: 0; /*Starter i toppen */
  left: 50%; /* Flytter elementets venstre kant hen til midten af forælderens bredde */
  transform: translateX(-50%); /* Trækker elementet 50% af dets egen bredde tilbage mod venstre, så det bliver præcist centreret horisontalt. Dette er nødvendigt, fordi `left: 50%` alene kun flytter **venstrekanten** til midten – ikke hele boksen */
  width: 60%; /* Bredden på sektionen er 60% af skærmens bredde*/
  height: 38%; /* Højden på sektionen er 38% aaf skærmens højde*/
  cursor: pointer; /* Gør det synligt, at området er klikbart */
  /* border: 1px solid #ff0000; /* Kant til at placere elementet */
}

.hoverBesked section {
  display: flex; /* Placerer de to teskter på linje */
  gap: 10px; /* Skaber afstanden mellem de to tekster */
}

.hoverBesked h1 {
  border-right: 1px solid; /* Giver h1 en kant i sin højre side */
  color: inherit; /* Farven på kanten (og h1) nedarver fra HTML */
  padding-right: 10px; /* h1 får en padding, så kanten forskydes 10px til højre */
  margin-bottom: 20px; /* Skaber afstand mellem h1 og teksten under */
}

.hoverBesked {
  display: none; /* Teksten er skjult i default */
  position: absolute; /* Gør det muligt at positionere elementet oven på den usynlige boks */
  top: 50px; /* Placerer elementet 150px fra toppen */
  left: 50%; /* Flytter elementets venstre kant hen til midten af forælderens bredde */
  transform: translateX(-50%); /* Trækker elementet 50% af dets egen bredde tilbage mod venstre, så det bliver præcist centreret horisontalt. Dette er nødvendigt, fordi `left: 50%` alene kun flytter **venstrekanten** til midten – ikke hele boksen */
  flex-direction: column; /* Placerer elementerne oven på hinanden vertikalt */
  text-align: center; /* Placerer teksten i midten vertikalt */
  align-items: center; /* Placerer teksten i midten vertikalt */
  color: inherit; /* Nedarver tekstfarve fra HTML */
  filter: invert(1); /* Giver den omvendte tekstfarve */
  pointer-events: none; /* Gør det muligt, at teksten forbliver synlig, når musen kommer ind i tekstfeltet */
}

.skiftModeSektion:hover + .hoverBesked {
  display: flex;
}

/* STYLING AF INDHOLD PÅ FORSIDE */

.tekstOgBilledeIndhold {
  margin-left: 80px;
  margin-right: 80px;
}

.tekstOgPortraetbilleder {
  display: flex; /* Stiller overskrift og tekst på horisontal linje med portrætbillederne */
  justify-content: space-between; /* Stiller det ud til kanterne */
  margin-bottom: 343px; /* Skaber afstanden ned til de tre informationsbokse */
}

.forsideHovedoverskrift {
  font-size: 50px; /* Skriftstørrelsen på overskriften */
}

.infoOmScale {
  width: 501px; /* Bredden på tekstfeltet*/
  margin-top: 40px; /* Afstand til dens tilhørende overskrift*/
  font-size: 21px; /* Skriftstørrelsen for teksten */
}

.forsidePortraetbilleder {
  display: flex; /* Placerer billederne på linje */
  justify-content: space-around; /* Plads imellem sig */
  align-items: flex-end;
  gap: 31px; /* Afstanden mellem billederne */
}

.forsidePortraetbilleder img {
  width: 258px; /* Bestemt bredde på billederne giver bedre optimering */
  height: 373px; /* Bestemt højde på billederne giver bedre optimering */
}

/* STYLING af DE TRE INFORMATIONSBOKSE */
.infobokse {
  display: flex; /* De tre informationsbokse stille på en horisontal linje */
  justify-content: space-between; /* Plads imellem sig */
  margin-bottom: 300px; /* Skaber afstand ned til nedstående elementer */
}

.infoboks {
  width: 320px; /* Bredden på tekstboksen*/
  font-size: 20px; /* Brødteksens font-størrelse */
}

.infoboks h2 {
  font-size: 27px; /* Overskrifterne får en bestemt skriftstørrelse */
  margin-bottom: 30px; /* Afstand mellem overskrift og tilhørende tekst */
}

.midterboks {
  border-left: 1px solid; /* Linjen på venstre side af boksen */
  border-right: 1px solid; /* Linjen på højre side af boksen */
  padding: 0 90px; /* Padding, der sikrer, at kanterne står i midten af de tre infobokse*/
}

.kontaktOs {
  display: flex; /* Placerer elementerne på linje */
  justify-content: space-between; /* Placerer dem helt ud til kanterne */
  font-size: 25px; /* Teksten får en font-størrelse på 25px */
  margin-bottom: 137px;
}

.kontaktoverskriftOgTekst {
  width: 401px; /* Bredden for containeren */
  margin-right: 66px; /* Yderligere afstand til kant */
}

.kontaktOs img {
  width: 534px; /* Bestemt bredde på billedet for bedre optimering */
  height: 439px; /* Bestemt højde på billedet for bedre optimering */
}

.kontaktOs h1 {
  font-size: 50px; /* Bestem skriftstørrelse for overskriften 'KONTAKT OS' */
  margin-bottom: 30px; /* Afstand mellem overskrift KONTAKT OS og tekst */
}

.link {
  color: inherit; /* <Link> skal nedarver farve fra index.css */
}

.callToAction {
  margin-top: 20px; /* Skaber afstand til brødtekst */
  font-size: 25px; /* Større skrift*/
  text-decoration: underline; /* Giver underline */
  color: inherit; /* Nedarver farve fra link */
}

.billedeHoverBesked {
  display: none;
  text-align: center; /* Placerer teksten i midten vertikalt */
  align-items: right; /* Placerer teksten i midten vertikalt */
  color: inherit; /* Nedarver tekstfarve fra HTML */
}

.forsidePortraetbilleder img:hover + .billedeHoverBesked {
  display: block;
}

