
.navigation {
    display: flex; /* Elementerne i navigationen står på en horisontal linje */
    gap: 25px; /* Bestemmer afstanden mellem hvert link */
    margin: 30px; /* Bestemmer afstanden rundt om hele navigationsmenuen */
    right: 0; /* Elementeret placeres 0px fra højre side */
    position: fixed; /* Sikrer, at navigationen altid er synlig - også ved scroll */
    top: 350px; /* Elementet placeres 350px fra toppen */
    transform: rotate(90deg); /* Roterer hele navigationen */
    transform-origin: right center; /* Omdrejningspunktet - midtpunktet for den højre kant */
    font-size: 20px; /* Skriftstørrelsen */
}

.navigationslinjer {
    width: 1px; /* Bredden på linjen er 1 px*/
    height: 24px; /* Agiver højden på stregen */
    border: none; /* Fjerner border og altså 'skyggen', der opstår ved border */
    background-color: var(--darkModeTekst); /* Angiver farven for linjen */
}