:root {
    --darkModeBaggrund: #000;
    --lightModeBaggrund: #fff;
    --darkModeTekst: #fff;
    --lightModeTekst: #000;
    --lightmodeLinjefarve: #000;
    --darkmodeLinjefarve: #fff;
}

* {
    padding: 0; /* Nulstiller al padding for siden */
    margin: 0; /* Nulstiller al margin for siden */
    text-decoration: none;
}

html {
    background-color: var(--darkModeBaggrund); /* Angiver baggrundsfarven, n책r brugeren 책bner siden */
    color: var(--darkModeTekst);
    transition: background-color 0.4s, color 0.4s; /* Overgangen mellem baggrundsfarve-skiftet */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

/* N책r HTML har klassen .light - se Forside.jsx for at*/
html.light {
    background-color: var(--lightModeBaggrund);
    color: var(--lightModeTekst);
}

html.light hr { 
    background-color: var(--lightmodeLinjefarve);
    transition: background-color 0.4s;
}

/* N책r HTML har klassen .dark */
html.dark {
    background-color: var(--darkModeBaggrund);
    color: var(--darkModeTekst);
}

html.dark hr {
    background-color: var(--darkmodeLinjefarve);
    transition: background-color 0.4s;
}